<div class="alert alert-warning" *ngIf="hName.errors && hName.dirty">
  <strong *ngIf="hName.hasError('required')">Hero Name 必輸！</strong>
  <strong *ngIf="hName.hasError('minlength')">Hero Name 最少5個字！</strong>
</div>
<div class="alert alert-warning" *ngIf="hPassword.errors && hPassword.dirty">
  <strong *ngIf="hPassword.hasError('required')">Login Password 必輸！</strong>
  <strong *ngIf="hPassword.hasError('minlength')">Login Password 最少8個字！</strong>
</div>

<form #f="ngForm" (ngSubmit)="login(f)">
  <div class="form-group">
    <label for="heroName">Hero Name:</label>
    <input type="text" class="form-control" id="heroName" name="heroName" ngModel #hName=ngModel required minlength="5"
      maxlength="10" />

  </div>

  <div class="form-group">
    <label for="pwd">Login Password:</label>
    <input type="password" class="form-control" id="pwd" name="password" ngModel #hPassword=ngModel required minlength="8"
      maxlength="20">
  </div>

  <div class="form-group">
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" ngModel #hPhoneNumber=ngModel disabled>
  </div>

  <div class="checkbox">
    <label><input type="checkbox" name="rememberMe" ngModel> Remember me</label>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

{{ f.form.value | json }}
<hr>

如果要取得disabled的值，就需要用getRawValue
<br>
{{ f.form.getRawValue() | json}}
